

html,
body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul
{
    float: left;
}

li
{
    line-height: 38px;

    width: 200px;
    height: 40px;

    list-style: none;

    text-align: center;

    border: solid 1px #eee;
}

.drag-container
{
    position: relative;

    float: left;

    width: 600px;
    height: 444px;
    margin-left: 40px;

    border: solid 1px #eee;
    border-radius: 16px;
    background-color: #f89ae4;
}

img
{
    -webkit-user-select: none;  /* Chrome all / Safari all */
       -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
            user-select: none;
    /* No support for these yet, use at own risk */

         -o-user-select: none;
}
